/* الكارد */
.item-card {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
}

/* الصورة */
.img-item {
  width: 150px;
  height: 120px;
  object-fit: cover;
  flex-shrink: 0;
}

/* النصوص */
.item-title {
  font-weight: bold;
}

.item-price {
  color: #b45b35;
  font-weight: bold;
}

.item-description {
  margin-top: 8px;
  color: #555;
}

/* موبايل */
@media (max-width: 576px) {
  .item-card {
    flex-direction: column;
  }

  .img-item {
    width: 100%;
    height: 180px;
  }
}
.item-card {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.img-item {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.item-price {
  color: #b45b35;
  font-weight: bold;
}
